.title{
  height: 140px;
}

.title-btn{
  color: #fff;
  width: 15rem;
  padding: .8rem;
}

.user-btn{
  background-color: transparent;
  color: #666;
}

.group{
  width: 252px;
  height: 62px;
}

.adminsidebar-icon{
  width: 28px;
  height: 28px;
}
