.title{
  height: 140px;
}

.title-btn{
  color: #fff;
  width: 7.5rem;
  padding: .6rem;
  border-radius: 10px;
  border: 1px solid transparent;
  align-items: center;
  display: flex;
  vertical-align: middle;

}

.user-btn{
  background-color: #DFE4EA;
  color: #666;
  border-radius: 0;
}

.group{
  width: 252px;
  height: 62px;
  border-color: #999;

}

.slash::before{
  content: "/";
  height: 2rem;
}


