.login_pic{
  background: url("~@/assets/images/login.png") no-repeat;
  transform: translate(120px, 0%) ;
  background-size: cover;
  position: absolute;
  z-index: -1;

}



.login-form{
  border: solid 1px #d8d8d8;
  border-radius :5%;
  width: 500px;
  height: 664px;
  z-index: 40;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;

}

.login-form h1{
  color: #2066b0;

}

.login-btn{
  background-color: #28d4ca;
  color: white;

}

.user-icon{
  display: inline-block;
  color: #000000;
  padding-left: 30px;
  background-image: url("~@/assets/images/icon/account@2x.png");
  background-repeat: no-repeat;
  background-size: 7%;

  background-position: 1% 42%;

}

.password-icon{
  display: inline-block;
  color: #000000;
  padding-left: 30px;
   background-image: url("~@/assets/images/icon/password@2x.png") ;
   background-repeat: no-repeat;
    background-size: 7%;

   background-position:1% 42%;

}

.password-icon::before{
  position: absolute;
  display: inline-block;
  color: #000000;
  padding-left: 30px;
  background-image: url("~@/assets/images/cmd/view@2x.png");
  background-repeat: no-repeat;
  background-size: 7%;

  background-position: 1% 42%;

}


.dqbz-btn {
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  height: 3rem;
  padding: 1rem 1rem;
}

.login-form p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #d8d8d8;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.login-form p span {
  background: #fff;
  padding: 0 10px;
}

