
body {
  margin: 0;
  overflow-x: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}

.dqbz-header {
  width: 100vw;
  height: 35px;
  border-bottom: 1px groove;
}

.splitpanes {
  background: #fff;
}

.splitpanes__pane {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  // font-size: 5em;
}

.splitpanes--vertical > .splitpanes__splitter {
  width: 3px;
  background: rgb(226, 223, 223);
}

.reset-form{
  border: 1px solid #999;
width: 500px;
// height: 664px;
z-index: 40;
background-color: white;
opacity: 0.8;

}

.h-143px{
  height: 143px;
}



