.width-1000 {
  width: 1000px;
}

.width-320 {
  width: 320px;
}

.width-350 {
  width: 350px;
}

.width-270 {
  width: 270px;
}


.width-220 {
  width: 220px;
}

.width-150 {
  width: 150px;
}


.w-30 {
  width: 30%;
}


.height-70px {
  height: 70px;
}


.input-group-icon {
  width: 50%;
  background: url("/../account@2x.png") no-repeat scroll 0.35rem center
    transparent;
}

.folder-icon {
  width: 100px;
  height: 100px;
}

.bg-gray {
  background-color: #f0f0f0;
}

.bg-f4gray {
  background-color: #f4f4f4;
}

.bg-blue {
  background-color: #c0d9f1;
}

.bg-lightblue {
  background-color: #e6f0fa;
}

.light-blue {
  color: #66acec;
}

.dark-blue {
  color: #007fa9;
}

p {
  font-size: 14px;
  margin: 0;
}

.nav-link {
  color: #000000;
}

.text-gray {
  color: #666666;
}

.hr-gray {
  color: #999;
}

.btn-gray {
  background-color: #c4c4c4;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
}

.btn-blue {
  background-color: #66acec;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
}

.icon73px {
  width: 73px;
  height: 73px;
}

.icon32px {
  width: 32px;
  height: 32px;
}

.icon28px {
  width: 28px;
  height: 28px;
}

.icon24px {
  width: 24px;
  height: 24px;
}

.icon20px {
  width: 20px;
  height: 20px;
}

.icon16px {
  width: 16px;
  height: 16px;
}
