.folder{
  background-image: url("~@/assets/folder@2x.png");
}

.paste {
  background-image: url("~@/assets/paste@2x.png");
}

.paste {
  background-image: url("~@/assets/copy@2x.png");
}
.cut{
  background-image: url("~@/assets/cut@2x.png") norepeat;
}


.nav-icon{
  width: 20px;
  height: 20px;

}
