.login_pic{
  background: url("~@/assets/login.png") no-repeat;
  transform: translate(120px, 0%) ;
  background-size: cover;
  position: absolute;
  z-index: -1;

}



.login-form{
  border: solid 1px #d8d8d8;
  border-radius :5%;
  width: 500px;
  height: 664px;
  z-index: 40;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;

}

.user-icon{
  display: inline-block;
  color: #000000;
  padding-left: 30px;
  background-image: url("~@/assets/account@2x.png");
  background-repeat: no-repeat;
  background-size: 7%;

  background-position: 1% 42%;

}

.password-icon{
  display: inline-block;
  color: #000000;
  padding-left: 30px;
   background-image: url("~@/assets/password@2x.png") ;
   background-repeat: no-repeat;
    background-size: 7%;

   background-position:1% 42%;

}

.password-icon::before{
  position: absolute;
  display: inline-block;
  color: #000000;
  padding-left: 30px;
  background-image: url("~@/assets/view@2x.png");
  background-repeat: no-repeat;
  background-size: 7%;

  background-position: 1% 42%;

}



